
.App{
	width: 100%;
	height: 100vh;
	background-color: #623535;
	
}

.AppContainer{
	width: 100%;
	height: 100vh;
	background-color: hsl(235, 21%, 11%) ;

	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 800px) {

	.AppContainer{
	width: 100%;
	height: 100vh;
	background-color: hsl(235, 21%, 11%) ;
	background-image: url(../images/bg-mobile-dark.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	justify-content: center;
	align-items: center;
}
}	